@font-face {
  font-family: "Formula";
  src:
    local("Formula"),
    url("./assets/fonts/PPFormula-CondensedBlack.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Formula", sans-serif;
    /*text-transform: uppercase;*/
    color: rgb(245, 224, 131);
}

#lienzo {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #d6651a;*/
}

header {
    position: absolute;
    top: 0; left: 0;
    padding: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title {
    position: relative;
    text-align: right;
    font-size: 4vh;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    font-family: "ethnocentric", sans-serif;
    font-weight: 100;
    font-style: normal;
}

footer {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    
    /*mix-blend-mode: luminosity;*/
}

.subtitle {
    position: relative;
    padding: 2vh 0 0 2vh;
    font-size: 30vh;
    color:rgb(217, 179, 12);
    
    font-family: "ethnocentric", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: linear-gradient(135deg, #d7b105, #d4b24d, #f5e083);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#centroLogo {
    position: absolute;
    bottom: 5vh;
    right: 2.2vh;
    width: 10vh;
}
 #metalButton, #rustedButton, #sandButton {
  position: absolute;
  right: 30px;   /* lado derecho */
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  z-index: 10;
}

#metalButton {
  top: 40%;
  background-image: url(./assets/texturas/metal/futuristic-cube-metal_albedo.png);
}

#rustedButton {
  top: 55%;
  background-image: url(./assets/texturas/rusted/albedo.png);
}

#sandButton {
  top: 70%;
  background-image: url(./assets/texturas/sand/sand-dunes1_albedo.png);

}

.metalButton {
    position: absolute;
    width: 80px;
    height: 80px;
}
.rustedButton {
    cursor: pointer;
    
}
.sandButton {
    cursor: pointer;
  
}
#instrucciones {
    font-family: "Formula", sans-serif;
    font-weight: 100;                   /* el único peso disponible */
    text-transform: none;               /* respeta mayúsculas/minúsculas */
    font-size: 1.5vh;
    line-height: 1.8vh;
    color: rgb(245, 224, 131);
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    max-width: 200px;
    z-index: 20;
}

#instrucciones h3 {
    margin-bottom: 0.5em;
    font-size: 2vh;
    font-weight: 100;                      /* thin */
}